:root {
    --background: #fff;
    --title: #000;
    --img: rgb(0, 71, 97);
    --quantity-x: rgb(0, 149, 182);
    --color: rgb(0, 90, 126);
    --secundary-color: rgb(0, 71, 97);
    --secundary-background: #e8e8e8;
    --content-color: #575757;
    --finished: rgb(8, 220, 174);
    --secundary-content-color: #d0d0d0;
}

body {
    background: var(--background);
}

.container {
    width: 100%;
    height: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;

    .detailsOrder {
        color: var(--title);

         h1 {  
            width: 80%;
        
            margin-bottom: 2rem; 

            font-weight: 400;
            line-height: 2.5rem;
         }

         p {
             font-size: 1.4rem;
             font-weight: 500;

             margin-bottom: 2rem;
         }

    }
    .containerInfo {
        hr {
            border-color: var(--secundary-background);

            opacity: 0.5;
            visibility: hidden;

            margin: 0.5rem 0;
        }

        .product + .product {
            margin-top: 2rem;
        }

        .product {
            align-items: center;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .productInfo {
                display: flex;
                align-items: center;

                .rectangle {
                    background: var(--img);

                    width: 5.5rem;
                    height: 3.5rem;

                    border-radius: 15px;
                    border-bottom-left-radius: 0;
                }

                .productName {
                    margin-left: .7rem;
                    color: var(--secundary-color);

                    p {
                        font-size:  1rem;
                        margin: 0 0 .2rem;
                    }

                    span {
                        font-size: 0.9rem;
                    }

                }
            }
            .quantity {
                p {
                    color: var(--color);
                }

                span {
                    color: var(--quantity-x);
                }

            }
        }
    }
    .shippingOrder {
        .shippingInfo {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;

            margin: 0rem 0 1rem 0;

            h1 {
                font-size: 1.3rem;
                font-weight: 800;

                color: var(--title);
            }

            a {
                text-decoration: none;

                font-size: 0.9rem;
                
                color: var(--secundary-color);
            }

        }

        .shippingAddress {
            background: var(--secundary-background);

            padding: 0.7rem 1rem;

            border-radius: 15px;

            p {
                font-size: 0.9rem;
                color: var(--content-color);
            }

        }
    }
    
    .methodPayment {
        .methodContent {
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: space-between;

            margin: 1rem 0;

            h1 {
                font-size: 1.3rem;
                font-weight: 800;

                color: var(--title);
            }

            a {
                text-decoration: none;

                font-size: 0.9rem;
                
                color: var(--secundary-color);
            }

        }
        .methodInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            background: var(--secundary-background);

            padding: 0.7rem 1rem;

            border-radius: 15px;

            p {
                font-size: 0.9rem;
                color: var(--content-color);
            }

            img {
                width: 30px;
                height: auto;
            }

        }
    }

    .freight {
        margin-top: 2rem;
        margin-bottom: 1rem;

        .freightForm {
            display: flex;

            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .freightContent {
                p {
                    color: var(--content-color);
                    font-size: 0.95rem;

                    margin: 0.5rem 0;
                    
                }
            }

            .freightContent:first-child {
                text-align: left;
            }

            .freightContent:last-child {
                text-align: right;
            }

        }

        hr {
            border: 1px solid var(--secundary-background);
        }

        .freightTotal {
            display: flex;

            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
                margin-top: 0.5rem;
                margin-bottom: 0;

                font-weight: 600;
                font-size: 1.1rem;
            }

        }
    }

    .followOrder {
        h1 {
            width: 80%;

            font-weight: 400;
            line-height: 2.5rem;
        }

        .followEvents {
            padding-left: 0.5rem;

            li {
                display: flex;

                color: var(--title);
            }

            .afterEvent {
                position: relative;
                right: 0;
                top: 0;

                transform: translateX(-50%);
                z-index: 2;

                border-radius: 50%;
                background: var(--secundary-content-color);
                border: 1px var(--secundary-content-color) solid;
                
                margin-right: -1.2rem;

                width: 1.2rem;
                height: 1.2rem;
            }

            li:nth-child(5) {
                .eventTitle::before {
                    content: "";
                    position: absolute;
                    left: 0;

                    height: 100%;
                    z-index: 1;

                    border-left: none;
                }
            }

            .eventTitle {
                position: relative;
                
                padding: 0 1.5rem 1.5rem 1.5rem;
                
                font-size: 1.05rem;
                font-weight: 500;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;

                    height: 100%;
                    z-index: 1;

                    border-left: 2px var(--content-color) dashed;
                }

            }
        }
    }
}

@media (min-width: 1100px) {
    .container {
        display: grid;

        padding-left: 4rem;
        padding-right: 4rem;

        grid-template-rows: auto 1fr;
        grid-template-columns: 700px auto;
        gap: 2rem 4rem;

        grid-template-areas: 
        "detailsGrid shippingMethodGrid"
        "freight shippingMethodGrid"
        "followOrders shippingMethodGrid";

        .containerInfo {
            hr {
                border-color: var(--secundary-background);
                
                margin: 1.1rem 0;

                visibility: visible;
                opacity: 0.5;
            }

            .product {
                .productInfo {
                    .rectangle {
                        width: 7rem;
                        height: 4.5rem;
                    }

                    .productName {
                        margin-left: 0.9rem;

                        p {
                            font-size: 1.2rem;

                            margin: 0 0 0.4rem;
                        }

                        span {
                            font-size: 1rem;
                        }

                    }
                }
            }
        }

        .methodPayment {
            .methodInfo {
                p {
                    font-size: 1.1rem;
                }
            }
        }

        .divisor {
            border-color: var(--secundary-background);

            opacity: 0.5;

            width: 100%;
            height: 1px;
        }

        .freight {
            max-width: 300px;

            grid-area: freight;

            margin-top: -3rem;
            margin-bottom: -1rem;
        }

        .shippingMethodGrid {
            margin-top: 4rem;

            grid-area: shippingMethodGrid;

            .shippingOrder {
                .shippingAddress {
                    p {
                        font-size: 1rem;
                    }
                }
            }

        }

        .detailsGrid {
            grid-area: detailsGrid;
        }

        .followOrder {
            grid-area: followOrders;

            .followEvents {
                padding-left: 0.5rem;
                
                li {
                    display: flex;
    
                    color: var(--title);
                }
    
                .afterEvent {
                    position: relative;
                    right: 0;
                    top: 0;
    
                    transform: translateX(-50%);
                    z-index: 2;
    
                    border-radius: 50%;
                    background: var(--secundary-content-color);
                    border: 1px var(--secundary-content-color) solid;
                    
                    margin-right: -1.6rem;
    
                    width: 1.6rem;
                    height: 1.6rem;
                }
    
                li:nth-child(5) {
                    .eventTitle::before {
                        content: "";
                        position: absolute;
                        left: 0;
    
                        height: 100%;
                        z-index: 1;
    
                        border-left: none;
                    }
                }
    
                .eventTitle {
                    position: relative;
                    
                    padding: 0 1.5rem 2rem 1.5rem;
                    
                    font-size: 1.05rem;
                    font-weight: 500;
    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
    
                        height: 100%;
                        z-index: 1;
    
                        border-left: 2px var(--content-color) dashed;
                    }
                }
            }
        }
    }

}

